/* ── Rijksvideo Block – Editor preview styles ── */
.rijksvideo-block-preview {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 3px;
    margin-bottom: 2rem;
}

.rijksvideo-block-preview .error {
    font-weight: bold;
    color: red;
}


.block-audio-video {
    display: block;
}

.block-audio-video .preview {
    width: 750px;
    height: 453px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
    position: relative;
}

.block-audio-video .preview:after {
    content: ' Preview';
    color: white;
    text-shadow: 0 0 10px black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../images/preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}